<div class="container">

  <div class="logo">
    <h1><%= link_to "NotifyIO", "/" %></h1>
  </div>

  <div class="user-links">
    <% if user_signed_in? %>
      <%= current_user.email %> <span class="vert-bar"> | </span> <%= link_to("Logout",destroy_user_session_path, :method => :delete)%>
      <%= link_to("My Account", user_path(current_user)) %>
    <% else %>
      <%= link_to("Login",new_user_session_path) %>
    <% end %>
  </div>

</div>
