<!DOCTYPE html>
<html>
<head>
  <title>NotifyIO</title>
	<!-- <link href='http://fonts.googleapis.com/css?family=Just+Another+Hand' rel='stylesheet' type='text/css'> -->
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
    <header>
      <%= render partial: 'shared/nav' %>
    </header>

    <section class="side-nav">
      <%= render partial: 'shared/side_nav' %>
    </section>

    <section class="main-container">
      <div class="main-wrapper">
        <%= render partial: 'shared/flash', locals: {flash: flash} %>
        <%= yield %>
      </div>
    </section>

    <% unless current_page?(organization_path) %>)
      <footer>
        Brought to you by Pete Cruz, Mike Holubowski, Mike Sprague
      </footer>
    <% end %>
</body>
</html>
